.main_body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    gap: 30px;
}

.mainTitle {
    font-size: 120px;
    margin-bottom: 30px;
}

.maintext {
    position: relative;
    width: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.maintext a {
    font-size: 30px;
    color: #ffffff;
    text-decoration-line: none;
}

.maintext input {
    background: none;
}