*{
    text-decoration: none;
    color: black;
    margin: 0;
    padding: 0;
}
.appBody{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
}
.mainVideo{
    overflow: hidden;
    margin: 0px auto;
    position: relative;
    height: 100vh;
}
video {
    width: 100%;
  }